.dropdown-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-dropdown-toggle {
  background-color: transparent;
  border-style: none;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--page-text-color);
}

.dropdown-chevron {
  width: 20px;
}

.dropdown-elements {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  gap: 4px;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #7d7d7d;

  background-color: var(--context-menu-background-color);
  padding-top: 0px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 32px;
  margin-left: -8px;
}

.dropdown-button {
  border-radius: 6px;
  border-style: none;
  background-color: transparent;
  color: aliceblue;
  padding: 4px 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.dropdown-button:hover {
  background-color: #1691e9;
}

.dropdown-inner-heading {
  color: rgb(99, 99, 99);
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 0px;

  padding-top: 4px;
  padding-left: 4px;
}

.top-border {
  border-top-style: solid;
  border-top-color: gray;
  border-top-width: 1px;
}

.sort-elements {
  display: inline;
}

.group-elements {
  display: flex;
  flex-direction: row;
}
