.filterable-content-gallery-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 45px;
  row-gap: 60px;
}

.gallery-heading {
  width: 100%;
  margin-bottom: 20px;
  color: var(--page-text-color);
}

.gallery-item {
  display: flex;
  flex-direction: column;

  width: 313px;
  height: 251px;
  background-color: gray;
  border-radius: 15px 15px 15px 15px;
}

.thumbnail {
  flex: 3;
  align-content: center;
  align-self: center;
}

.gallery-item-description {
  display: flex;
  flex-direction: row;
  row-gap: 9px;
  flex: 1;

  padding-left: 9px;
}

.gallery-item-name {
  padding-bottom: 9px;
}
