.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  background-color: var(--nav-background-color);
  height: 56px;

  border-bottom-color: var(--border-color);
  border-bottom-width: 2px;
  border-bottom-style: solid;

  z-index: 100;

  padding: 0 8px;
}

.app-header-component {
  display: flex;
}

.header-left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-size: 10px;
}

.create-button {
  border-style: none;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0;

  margin-left: 65px;
  padding: 10px 10px 10px 10px;
  height: 40px;

  background-color: #0c8ce9;
}

.create-button:hover {
  background-color: #0d79d6;
}

.create-button:active {
  background-color: #0c6dc2;
}

.plus-icon {
  vertical-align: middle;
  width: 12px;
}

.create-button-text {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 14px;
  text-align: center;
  vertical-align: middle;

  color: white;
}

.dropdown-icon {
  margin: 0;
  width: 30px;
  height: 30px;
}

.registration-button-container {
  display: flex;
  flex-wrap: nowrap;
}

.registration-button {
  border-style: solid;
  border-color: #0c6dc2;
  border-radius: 10px;
  border-width: 2px;
  padding: 6px 20px;
  margin-right: 8px;
  background-color: #1b75d0;

  color: white;
  font-weight: 500;

  box-sizing: border-box;
  text-decoration: none;
}

.registration-button:hover {
  filter: brightness(110%);
}

.registration-button:active {
  filter: brightness(120%);
}

.login-button {
  background-color: #073053;
}

.login-button:hover {
  background-color: #083a65;
}

.signup-button {
  border-style: none;
  padding: 8px 22px;
}
