.registration-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registration-header {
  text-align: center;
  font-size: 36px;
}
