.dropdown-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-dropdown-toggle {
  background-color: transparent;
  border-style: none;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dropdown-chevron {
  width: 22px;
}

.dropdown-elements {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  gap: 4px;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #7d7d7d;

  background-color: var(--context-menu-background-color);
  padding: 12px 12px;
  margin-top: 32px;
  margin-left: -8px;
}

.dropdown-button {
  border-radius: 4px;
  border-style: none;
  background-color: transparent;
  color: aliceblue;
  padding: 4px 6px;
}

.dropdown-button:hover {
  background-color: #1691e9;
}

.hidden {
  display: none;
}

.sort-elements {
  display: inline;
}

.group-elements {
  display: flex;
  flex-direction: row;
}
